

.home-page{
  display: flex;
  justify-content: center;
}

.main-menu {    
  margin-top: 75px;
  width: 400px;
  height: 500px;
  box-shadow: 2px 5px 8px 0px;
}

.main-menu-header{
  margin-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}

.menu-bottom{
  text-align: center;
}

.players-btn{
  margin: 50px;
}

#one-player, #two-player{
  width: 300px;
}


.btn-About{
  color:  #006ee0;
  filter: opacity(.6);
}

.btn-About:hover{
  filter: none;
  cursor: pointer;
}

.img-modal{
  padding-left: 50px;
  width: 400px;
}

.header{
  margin-top: 20px;
  min-width: 600px;
  text-align: center;
  color: whitesmoke;
}

.page-content{
  display: grid;
  grid-template-columns: 40% 20% 40%;
  min-width: 600px;
  grid-template-rows: 100%;
}

.elecciones-jugador{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  align-items: center;
}

.jugador{
  text-align: center;
}

.img-eleccion{
  transition: all .2s;
  width: 90px;
}

.img-eleccion:hover{
  transform: scale(1.2);
  cursor: pointer;
}

#btn-eleccion{
  color: whitesmoke;
}
#btn-eleccion:disabled{
  opacity: .3;
}

.seccion-ganador{
  display: flex;
  margin-top: 100%;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

